(
  axes: {
    "vertical_move": Emulated(pos: Key(W), neg: Key(S)),
    "horizontal_move": Emulated(pos: Key(D), neg: Key(A)),
  },
  actions: {
    "exit": [[Key(Escape)]],
    "console": [[Key(Backslash)]],
    "reset": [[Key(Home)]],
    "revive": [[Key(PageUp)]],
    "editor": [[Key(LControl)]],
    "cancel": [[Key(Z)]],
    "accept": [[Key(X)]],
  },
)
