(
  axes: {
    "vertical": Emulated(pos: Key(Up), neg: Key(Down)),
    "horizontal": Emulated(pos: Key(Right), neg: Key(Left)),
    "vertical_controller": Controller(controller_id: 0, axis: LeftY, invert: true, dead_zone: 0.3),
    "horizontal_controller": Controller(controller_id: 0, axis: LeftX, invert: false, dead_zone: 0.3),
    "modifier1_controller": Controller(controller_id: 0, axis: LeftTrigger, invert: false, dead_zone: 0.3),
  },
  actions: {
    "exit": [[Key(Escape)]],
    "console": [[Key(Backslash)]],
    "reset": [[Key(Home)]],
    "save": [[Key(Insert)]],
    "revive": [[Key(PageUp)]],
    "load": [[Key(PageDown)]],
    "editor": [[Key(LControl)], [Controller(0, Back)]],
    "insert": [[Key(A)], [Controller(0, LeftShoulder)]],
    "cancel": [[Key(Z)], [Controller(0, B)]],
    "attack": [[Key(X)], [Controller(0, X)]],
    "accept": [[Key(Space)], [Controller(0, A)]],
    "start": [[Key(Return)], [Controller(0, Start)]],
    "toggle_debug": [[Key(L)]],
    "1": [[Key(Key1)]],
    "2": [[Key(Key2)]],
    "modifier1": [[Key(LShift)]],
    "modifier2": [[Key(LAlt)]],
  },
)
