#![enable(implicit_some)]
Prefab(
    entities: [
        PrefabEntity(
            data: PlatformCuboid(
                half_width: 64.0,
                half_height: 64.0,
            ),
        ),
    ],
)
