#![enable(implicit_some)]
Level(
    tiles: [
        Vec2(
            x: 0.0,
            y: 32.0,
        ),
        Vec2(
            x: 128.0,
            y: 32.0,
        ),
        Vec2(
            x: 128.0,
            y: 64.0,
        ),
        Vec2(
            x: 128.0,
            y: 96.0,
        ),
        Vec2(
            x: 512.0,
            y: 32.0,
        ),

        // Hello :)
        Vec2(
            x: 0.0,
            y: 0.0,
        ),
        Vec2(
            x: 32.0,
            y: 0.0,
        ),
        Vec2(
            x: 64.0,
            y: 0.0,
        ),
        Vec2(
            x: 96.0,
            y: 0.0,
        ),
        Vec2(
            x: 128.0,
            y: 0.0,
        ),
        Vec2(
            x: 160.0,
            y: 0.0,
        ),
        Vec2(
            x: 192.0,
            y: 0.0,
        ),
        Vec2(
            x: 224.0,
            y: 0.0,
        ),
        Vec2(
            x: 256.0,
            y: 0.0,
        ),
        Vec2(
            x: 288.0,
            y: 0.0,
        ),
        Vec2(
            x: 320.0,
            y: 0.0,
        ),
        Vec2(
            x: 352.0,
            y: 0.0,
        ),
        Vec2(
            x: 384.0,
            y: 0.0,
        ),
        Vec2(
            x: 416.0,
            y: 0.0,
        ),
        Vec2(
            x: 448.0,
            y: 0.0,
        ),
        Vec2(
            x: 480.0,
            y: 0.0,
        ),
        Vec2(
            x: 512.0,
            y: 0.0,
        ),
    ],
)