(serialized_objects:Some([(object_type:StaticTile,pos:Some((x:768,y:640,)),size:Some((x:128,y:128,)),sprite:Some((sheet:Tiles,number:0,)),),(object_type:StaticTile,pos:Some((x:896,y:640,)),size:Some((x:128,y:128,)),sprite:Some((sheet:Tiles,number:0,)),),(object_type:StaticTile,pos:Some((x:1024,y:640,)),size:Some((x:128,y:128,)),sprite:Some((sheet:Tiles,number:0,)),),(object_type:StaticTile,pos:Some((x:1152,y:640,)),size:Some((x:128,y:128,)),sprite:Some((sheet:Tiles,number:0,)),),(object_type:Player(is_player:(true),),pos:Some((x:1024,y:832,)),size:Some((x:128,y:128,)),sprite:Some((sheet:Didi,number:1,)),),]),)